body {
    background-color: #146C94;
    background-position: center;
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
  


h1 {
    padding-top: 5px;
    text-align: center; 
    font-size: 25px;
    color: #322653;   
    
    
}

section {
    background-color: rgb(255, 255, 255);
    width: 40%;
    margin: 40px auto;
    border-radius: 5px;
    border: 5px solid #279EFF;
}

div {
    overflow-x: hidden;
    background-position: center;
}

label {
    margin-left: 150px;
    color: rgb(0,0,22);
    display: inline-block;
    font-size: 18px;
    
}

input {
    width: 50%; 
    height: 28px; 
    display: inline-block;
    margin-left: 150px;
    border: none;
    color: black;
    background-color: rgb(225, 225, 225);
    border-radius: 0.25rem;
    outline: none;
} 

#male {
    margin-left: 150px;
    width: 16px;
    background-color: rgb(225, 225, 225);
    outline: none;
    color: black;
}

.man {
    margin: 0;
}

#female {
    margin-left: 15px;
    width: 16px;
    background-color: rgb(225, 225, 225);
    border: none;
    outline: none;
    color: black;
}

.woman {
    margin: 0;
}

#checkbox {
    width: 15px;
    background-color: rgb(225, 225, 225);
    outline: none;
    color: black;
    
}

.checkbox {
    margin-left: 2px;
}

.terms {
    text-align: center;
}


button{
    text-align: center;
    padding: 15px 170px 15px 150px;
    border: none;
    border-radius: 4px;
    width: 350px;
    background-color: rgb(68, 18, 232);
    font-size: 15px;
    display: inline-block;
    margin: 0px 150px 0px 130px; 
    color: white;
    outline: none;

}

button:hover {
    cursor: pointer;
    background-color: rgb(41, 4, 164);
}

.login {
    text-align: center;
    margin-top: 0;
    font-size: 18px
}

a {
    text-decoration: none;
}

